<h1>Create your list of movies</h1>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back home', lists_path %>
